# Byte-compiled / optimized / DLL files
__pycache__/

# Distribution / packaging
/build/
/dist/
*.egg-info/

# Environment
/.direnv/
venv

# Sphinx documentation
/docs/build/
/docs/autosummary/

# Coverage
/.coverage
